#background {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
}

button {
    padding: 10px 20px;
    font-size: 1.5em;
    cursor: pointer;
}